.Track {
  padding: 3rem 0 0rem 0;
  background: linear-gradient(to bottom, #ffffff 35%, #fff27f 150%);
  color: var(--black-light);
  padding: 2rem 0 4rem 0;
  height: 100vh;
  overflow: hidden;
}

.trackGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.trackCoverImg {
  margin-bottom: 2rem;
}

.trackName {
  font-size: 2rem;
}

.trackArtistsName {
  font-size: 1.5rem;
}

.trackDetailsLeft {
  border-right: 3px solid rgb(131, 131, 131);
}

.trackDetailsRight {
  font-size: 1.5rem;
}

.trackDetailsRight > div {
  margin: 0.5rem;
}

@media (max-width: 730px) {
  .trackGrid {
    display: flex;
    flex-direction: column;
  }

  .trackDetailsLeft {
    border-bottom: 3px solid rgba(131, 131, 131, 0.233);
    border-right: none;
  }

  .trackArtistsName {
    margin-bottom: 2rem;
  }

  .trackDetailsRight {
    margin-top: 2rem;
  }
}

@media(max-width:360px ){
  .Track{
    height: 100%;
  }
}
