.Playlists{
  margin-bottom: 4rem;
  text-align: center;
}

.title {
  margin-left: 10px;
  
}

.playlistsCoverImg{
  width: 300px;
  height: 300px;
  transition: 0.5s ease all;
  
}

.playlistsCoverImg:hover{
  transform: scale(1.05)
}

.playlistsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
}

@media (max-width: 616px) {
  .playlistsGrid {
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 2fr));
  }
}

@media (max-width: 400px) {
  .playlistsGrid {
    grid-template-columns: repeat(auto-fill, minmax(min(150px, 100%), 2fr));
  }
}

@media(max-width: 1220px){
  .playlistCoverImg {
    width: 210px;
    height: 210px;
  }
}
@media (max-width: 500px) {
  .playlistCoverImg {
    width: 145px;
    height: 145px;
  }
}
