.featuredPlaylistsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  text-align: center;
  /* padding: 1rem; */
  border: 1px solid red;
}

.playlistDetails {
  margin: 1rem 0;
  padding: 1.4rem;
  border: 1px solid green;
}
.playlistName {
  margin: 0.5rem 0rem;
}

@media (min-width: 1082px) {
  .featuredPlaylistsGrid {
    grid-template-columns: repeat(2, 4fr);
    grid-template-rows: 1fr 1fr;
  }
}
