.favouriteSongsSection {
  margin-top: 2rem;
}

.favouriteSongsGrid {
  padding: 1rem;
  margin: 0 5rem;
}
.favouriteSongsGrid .link {
  color: black;
}

.favouriteSongsDetails {
  display: flex;
  margin: 1.5rem 0;
  padding: 0.8rem;
  border-radius: 20px;
  transition: 0.5s ease all;
  background: linear-gradient(#b3e5fce8 0%, #ffffff 80%);
}

.favouriteSongsDetails:hover {
  transform: scale(1.02);
}
.albumImgSection {
  padding-right: 2rem;
}

.songDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  border-left: 2px solid rgba(128, 128, 128, 0.39);
  margin-left: 1.5rem;
}

.songDetails > div {
  margin: 0.1rem;
}

.songName {
  font-weight: 500;
}
.artistname {
  margin-right: 1.3rem;
}
