.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
}

@keyframes slowShow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.menusidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50%;
  background: rgb(5, 5, 5);
  color: white;
  height: 100%;
  display: none;
  z-index: 1;
  animation: slowShow 0.3s;
}

.show {
  display: block;
}
.fas .fa-bar {
  z-index: 10;
  cursor: pointer;
}

.close {
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
  cursor: pointer;
}

.menusidebar li {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
}

.menuLinks {
  color: white;
  padding: 1rem;
  width: 100%;
}

.menuLinks:hover {
  background: var(--spotify-green);
}

.Header .rightHeader {
  display: flex;
  align-items: center;
}

.profileImage {
  margin: 10px 20px 10px 10px;
}

.profileImage img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logoutBtn{
 
  border: 1px solid white;
  overflow: hidden;
  padding: 0.4rem 0;
  border-radius: 20px;
}
.logoutBtn a{
  color: black;
  padding: 1rem;
  
 
  
}
.logoutBtn a:hover {
  color: white;
  background: var(--spotify-green);
  animation: slowShow 0.2s;
 
}
