.TopTracks {
  margin-top: 1rem;
  font-size: 20px;
  padding-bottom: 4rem;
  background: linear-gradient( #ffffff 2%,#880E4F 150%);

}

.topTracksSection {
  margin-top: 2rem;
}

.topTrackGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
  grid: 2rem;
  text-align: center;
}
.topTrackDetails {
  padding: 1rem;
}

.toptrackCoverImg {
  border-radius: 20px;
  margin-bottom: 0.5rem;
}

.topTrackName {
  font-weight: 500;
}
