.TopTracks {
  margin-top: 1rem;
  font-size: 20px;
}

.topTracksSection {
  margin-top: 2rem;
}

.topTrackGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
  grid: 2rem;
  text-align: center;
}
.topTrackDetails {
  padding: 1rem;
}


.trackCoverImg {
  border-radius: 20px;
}

.topTrackName {
  font-weight: 500;
}
