.Home {
  /* padding-bottom: 4rem; */
  background: linear-gradient(#ffffff 0%, #1db954 150%);
  text-align: center;
}

.grid-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
 
}

